@import url('https://fonts.googleapis.com/css?family=Montserrat');

*,  *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #052B53;
    height: 100%;
    padding: 0px;
    max-width: 100%;
    margin: auto;
    font-family: 'Montserrat';
    font-weight: bold;
}

header {
    background: #6E6E74;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    grid-area: h;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before{
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: #6E6E74;
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style:none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: #e78c57;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: whitesmoke;
}

.nav-toggle:checked ~ nav  {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.content {
    grid-area: c;
}

.about {
    grid-area: a;
    height: 100%;
    width: 100%;
    border: solid red;
    margin-top: 30px;
}

.projects {
    grid-area: p;
    height: 100%;
    width: 100%;
    border: solid red;
}

.contact {
    grid-area: ct;
    height: 100%;
    width: 100%;
    border: solid red;
}

.container {
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
    "."
    "c"
    "a"
    "p"
    "ct";
}

.hero {
    max-width: auto;
    max-height: 1000px;
    margin-top: 17%;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0,0,0,0.411)), url('space3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    position: relative;
    outline: 2px solid black;
}

.hero-content {
    width: 50%;
    background-image: url('portraet2.png');
    background-repeat: no-repeat;
    background-position: right 100%;
    background-size: cover;
    height: 100%;
    position: relative;
    left: 50%;
}

.hero h2 {
    font-weight: 300;
    color: #A67A61;
    text-align: center;
    position: relative;
    right: 93%;
    top: 15%;
    font-size: 90%;
}

.hero p {
    font-weight: bold;
    line-height:  1em;
    color: #A67A61;
    text-align: center;
    position: relative;
    right: 93%;
    top: 20%;
}

.line {
    border: 1px solid yellow;
}

/*desktop version starter her */
@media only screen and (min-width: 550px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
    }

    .logo {
        grid-column: 1 / 2;
    }

    nav {
        all: unset;
        grid-column: 2 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content:  '';
        display: block;
        height: 5px;
        background: whitesmoke;
        position: absolute;
        bottom: -.75em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1,1);
    }

    .container {
        width: 100%;
        height: 100%;
        position: absolute;

    }

    .hero {
        width: 100%;
        height: 100%;
        position: relative;
        outline: 2px solid black;
    }

    .hero-content {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
        position: relative;
    }

    .hero h2 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 2rem;
    }

}
